html,
body {
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    padding-top: 10px;
}

.container {
    width: 100%;
}

.article {
    padding: 15px;
}

h2,
h3,
h4 {
    text-align: center;
}

h2 {
    color: #000000;
}

.titleBox {
    width: 100%;
    font-size: 28px;
    border-bottom: none;
    border-top: none;
    margin-bottom: 100px;
    align-self: center;
    font-family: 'Permanent Marker', cursive;
    align-items: center;
    display: flex;
    justify-content: center;
}

.titleBox::before,
.titleBox::after {
    content: '';
    background: #005385;
    width: 100px;
    background-color: #005385;
    height: 3px;
    margin-right: 25px;
}

.titleBox::after {
    margin-right: 0;
    margin-left: 25px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

/* -----header----- */

.header {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.header::after {
    content: '';
    width: 90%;
    height: 1px;
    background-color: #404042;
    align-self: center;
}

/* --logo-- */

.logo {
    align-self: flex-end;
    padding-right: 15px;
    margin-bottom: 20px;
}

/* --navigation-- */

.nav {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hamburger {
    position: absolute;
    top: 37px;
    left: 25px;
    width: 40px;
    height: 35px;
    background: transparent;
    border: none;
    border-top: 5px solid #404042;
    margin-right: 30px;
    transition: transform 0.3s linear;
    outline: none;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: "";
    border-top: 5px solid #404042;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(10px);
}

.hamburger::after {
    transform: translateY(25px);
    transition: transform 0.3s linear;
}

.nav.isClick .hamburger {
    transform: rotate(45deg) translateY(5px);
    border: none;
}

.nav.isClick .hamburger::after {
    transform: rotate(-90deg) translateX(-10px);
}

.goTop {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 25px;
    border: none;
    outline: none;
    background-color: #005385;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
    border: 1px solid #404042;
}

.goTop::after {
    content: "";
    height: 35px;
    width: 35px;
    border-top: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    transform: rotate(-45deg) translateX(-5px) translateY(5px);
    display: block;
    transition: border 0.1s ease-in-out;
}

.goTop:hover {
    cursor: pointer;
}

.goTop:hover::after {
    border-color: #404042;
}

.showGoTop {
    opacity: 1;
    pointer-events: all;
}

.nav>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 220px;
    ;
    top: 100%;
    left: -100%;
    padding-bottom: 15px;
    transform: translateY(-1px);
    width: 100%;
    background: #005385;
    transition: all 0.3s ease-in-out;
}

.nav.isClick ul {
    transform: translateX(100%) translateY(-1px);
}

.nav>ul>li {
    padding: 0;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav>ul>li a {
    color: #ffffff;
    text-decoration: none;
    width: 50%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    justify-content: center;
    border-bottom: 0.5px solid #ffffff;
}

/* -----offer----- */

.offer {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    align-items: center;
    justify-content: center;
}

/* .offer::after {
  content: '';
  margin-top: 100px;
  width: 90%;
  height: 1px;
  background-color: #404042;
  align-self: center;
} */

/* -----price list----- */

.priceList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

/* .priceList::after {
  content: '';
  margin-top: 100px;
  width: 90%;
  height: 1px;
  background-color: #404042;
  align-self: center;
} */

/* -----customer zone----- */

.customerZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

/* .customerZone::after {
  content: '';
  margin-top: 100px;
  width: 90%;
  height: 1px;
  background-color: #404042;
  align-self: center;
} */

/* -----contact----- */

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.basicData {
    text-align: center;
}

.basicData ul {
    list-style-type: none;
    padding: 0;
}

.basicData ul>li {
    list-style-type: none;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form input,
.contact form textarea {
    margin: 10px 0 20px 0;
    width: 80%;
    outline: none;
    font-size: 15px;
}

.contact form input[name='email'] {
    height: 25px;
}

.contact form textarea[name='message'] {
    height: 250px;
}

.contact form input[type="submit"] {
    height: 40px;
    margin-bottom: 40px;
    background: #005385;
    color: #FFFFFF;
    border: 1px solid #404042;
    font-size: 21px;
}

.map {
    width: 100%;
    height: 350px;
}

.map iframe {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

/* -----footer----- */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    background: #005385;
    padding-bottom: 20px;
    color: #FFFFFF;
}

.usefulInformation {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.usefulLink {
    padding: 15px;
}

.usefulLink ul {
    list-style-type: none;
    padding: 0;
}

.usefulLink ul a {
    color: #ffffff;
    text-decoration: none;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.socialBox {
    padding: 10px;
    width: 15%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialBox a {
    color: #FFFFFF;
    font-size: 30px;
}

.copyRights {
    height: 25px;
    line-height: 25px;
}

@media (min-width: 640px) {
    .article {
        width: 80%;
    }
    /* -----header----- */
    .logo {
        margin-left: 35px;
        align-self: flex-start;
    }
    /* -----navigation----- */
    .hamburger {
        display: none;
    }
    .nav {
        width: 100%;
        height: 35px;
    }
    .nav ul {
        transform: none;
        transition: none;
        position: static;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: #FFFFFF;
    }
    .nav ul>li {
        width: 25%;
        height: 100%;
        ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
    .nav ul>li a {
        color: #404042;
        font-size: 15px;
        padding: 0;
        width: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .nav ul>li a:hover {
        color: #005385;
    }
    .nav ul>li a::after {
        content: '';
        margin-top: 3px;
        background-color: #005385;
        height: 1px;
        width: 0;
        transition: width 0.11s ease;
    }
    .nav ul>li a:hover::after {
        width: 150%;
    }
    /* -----offer----- */
    .offer {
        margin-top: 135px;
    }
    /* -----contact----- */
    .contact form input,
    .contact form textarea {
        width: 50%;
    }
    .map {
        height: 500px;
    }
}

@media (min-width: 1061px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .article {
        width: 50%;
        box-sizing: border-box;
    }
    /* -----header----- */
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px;
        margin: 0;
    }
    .header::after {
        display: flex;
        position: absolute;
        top: 100%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .logo {
        margin-bottom: 0;
    }
    /* -----navigation----- */
    .nav {
        height: auto;
        width: 700px;
        flex-direction: column;
        margin-top: 0;
        margin-right: 70px;
        align-self: flex-end;
    }
    /* -----offer----- */
    .offer {
        margin-top: 125px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: baseline;
    }
    /* -----priceList----- */
    .priceList {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: baseline;
    }
    /* -----contact----- */
    .contact {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .contactBox {
        width: 50%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contactForm {
        width: 100%;
    }
    .contact form input,
    .contact form textarea {
        width: 90%;
    }
    .map {
        width: 50%;
        height: 661px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1600px;
        margin: auto;
    }
    .header {
        width: 1600px;
        margin-left: calc(100%/2 - 1600px/2);
    }
}